body{
 background-color: #DB37AE
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F765DA;
  font-family: roc-grotesk-compressed, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 35px;
text-align: left;
text-decoration-color: #FC95C2;
text-decoration-line: none;
position:  relative ;
}
li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}
.title {
font-family: roc-grotesk-wide, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 70px;
color: #FC95C2;
text-align: left;
position:  relative ;
top: 10px;
padding: 10;
}
.explanation{
font-family: roc-grotesk-compressed, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 35px;
color: #F765DA;
text-align: left;
position:  relative ;
top: 30px;
left: 5px;
right: 600px;
padding:  10;
}

#playlist {
  top: 210px;
  left: 700px;
  right: 800px;
  bottom: 2000px;
  padding: 60;
  position:  fixed;
}

