body{
	background-color: #088F8F /*blue green -> i also really liked cadmium green Celadon
and Verdigris */;
}
.sitetitle{
  font-size: 60px;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-weight:  bold; 
  color: #ffc40c ; /*yellow */
}
.bodytext{
  font-size: 30px;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-weight:  bold; 
  color: #ffc40c ; /*yellow*/

}

.weeknumbutt {
  font-size: 16px;
  font-weight: 250;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;  
  justify-content: center;  
  align-items: center; 
}

.weeknumbutt:after {
  content: "";
  background-color: #ffc40c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.weeknumbutt:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .weeknumbutt {
    padding: 13px 50px 13px;
  }
}
.codecheck {
  font-size: 16px;
  font-weight: 250;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;  
  justify-content: center;  
  align-items: center; 
}

.codecheck:after {
  content: "";
  background-color: #ffc40c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.codecheck:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .codecheck {
    padding: 13px 50px 13px;
  }
}

