body{
	background-image: PDF1124-02.pdf;
	opacity: .3;
}
#head{
font-family: roc-grotesk-wide, sans-serif;

font-weight: 700;

font-style: normal;
color: black;
text-align: center;
position:  relative ;
top:  500px;
}
