body {
    background-color: #088F8F;
}

#theEyes {
 text-align:center;
 /* background-color: pink; */
}

button {
    padding: 5vw;
    border: solid 3px;
    border-radius: 35px;
    background-image:  url(https://media.giphy.com/media/8YBpKSm3uPWG9Ca0F4/giphy.gif);
    font-size:  100 px;
    color:  white;
}

button:hover {
    background-color:  rgb(214, 161, 63);
    color:  rgb(214, 161, 63);
   
}
#theNose {
    height: 20vh;
    width: 60px;
    background-image: url(https://media.giphy.com/media/xTiTnx4rTU9kOPqpgs/giphy.gif) ;   
    margin-left: auto;
    margin-right:auto;
   
}
#theMouth {
    display:flex;
    justify-content: center;
    border: black;
    border-style: double;
    border-width: 10px;
    border-radius: 50% ;
    width: 500px;
    margin: auto;
}


#theMouth p {
    background-image: url(https://media.giphy.com/media/FSqYDfsdaiG9W/giphy.gif);
    padding:1vw;
    border-width: 10px;
    border-radius: 50% ;
    width: 500px;
    margin: auto;
    /*fuck*/
}